* {
    font-family: 'Work Sans', sans-serif;
  
  }
  
  h1 {
    text-align: center;
    font-size: 50px;
    color:white;
  }
  body{
    overflow-y: scroll;
    background-color: black;
  
  }
  body::-webkit-scrollbar {
    display: none;
  }
  
  
  .item {
    background-color: rgb(245, 245, 245);
    padding: 10px;
    border-radius: 20px;
    width: 100%;
    max-width: 300px;
    height: 300px;
    border: 5px solid gray;
    text-align: center;
    font-size: 20px;
    background-repeat: no-repeat;
    background-size: cover; /* Changed background-size to cover */
    background-position: center; /* Changed background-position to center */
    transition: .2s;
    cursor:default;
  
  
  }
  
  .item:hover{
    border: 5px solid white;
    font-size: 30px;
    box-shadow: 5px 10px 18px rgba(0, 0, 0, 0.5);
  }
  
  
  .container {
    display: grid;
    grid-template-columns: repeat(5, 1fr); /* Updated grid-template-columns */
    row-gap: 25px;
    column-gap: 5px;
    padding: 10px;
  }
  
  .a {
    background-image: url('/ico/red.png');
    background-position-y: 30px;
    background-color:#1c1b20;
    cursor:grab;
  }
  
  .b {
    background-image: url('/ico/toe.png');
    cursor:grab;
  }
  
  .c {
    background-image: url('/ico/fra1.png');
      cursor:grab;
  }
  
  .d {
    background-image: url('/ico/max1.png');
    background-color: #59b111;
  }
  
  .d:hover{background-color: green;}
  .e {
    background-image: url('/ico/jon.png');
    background-color: rgb(0, 140, 255);
  }

  
  .f {
    background-image: url('/ico/jonx.png');
    background-color: rgb(255, 174, 0);
  }
  
  .f:hover{background-color: rgb(212, 113, 0);}
  .g {
    background-image: url('/ico/oli.png');
  }
  .h {
    background-image: url('/ico/daniel2.png');
  }
  .i {
    background-image: url('/ico/vin1.png');
    background-position-y: 20px;
    background-color: rgb(165, 97, 42);
  }
  .i:hover{background-color: rgb(206, 202, 0);}
  .j {
    background-image: url('/ico/geo.png');
  }
  .k {
    background-image: url('/ico/ril1.png');
    background-position-y: 40px;
    background-color:black;
  }

  .l {
    background-image: url('/ico/col.png');
  }
  .m {
    background-image: url('/ico/dev.png');
  }
  .n {
    background-image: url('/ico/cri.png');
  }
  
  
  @media (max-width: 12000px) {
    .container {
      grid-template-columns: repeat(5, 1fr); /* Updated grid-template-columns */
    }
  }
  @media (max-width: 1777px) {
    .container {
      grid-template-columns: repeat(4, 1fr); /* Updated grid-template-columns */
    }
  }
  
  @media (max-width: 1437px) {
    .container {
      grid-template-columns: repeat(3, 1fr); /* Updated grid-template-columns */
    }
  }
  
  @media (max-width: 1068px) {
    .container {
      grid-template-columns: repeat(2, 1fr); /* Updated grid-template-columns */
    }
  }
  @media (max-width: 725px) {
    .container {
      grid-template-columns: repeat(1, 1fr); /* Updated grid-template-columns */
    }
  }
  .item {
    position: relative;
  }
  
  .text {
    position: absolute;
    top: 10px;
    left: 50%;
    transform: translateX(-50%);
    font-size: 23px;
    font-weight: bold;
    color: white;
    text-shadow: 2px 2px 4px rgb(0, 0, 0);
  }
  .role{    
    position: absolute;
    top: 37px;
    left: 65%;
    transform: translateX(-50%);
    font-size: 18px;
    font-weight: bold;
    color: white;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 1);
    margin-left: -50px;
    margin-right: -50px;
  
  
  }
  
  hr{
    height: 10px; 
    background-color: white; 
    border:none;
    border-radius: 10px;
    margin-top:-25px;
  }
  
  
  .rainbow-border {
  animation: rainbow 5s infinite linear, glow 1.5s infinite alternate;
  position: relative;
  }
  
  .rainbow-border::before {
  content: "";
  position: absolute;
  top: -5px;
  left: -5px;
  right: -5px;
  bottom: -5px;
  border: 5px solid transparent;
  animation: move 5s infinite linear;
  
  }
  .bg {
    animation: bluegreen 5s infinite linear, glow 1.5s infinite alternate;
    position: relative;
    }
    
    .bg::before {
    content: "";
    position: absolute;
    top: -5px;
    left: -5px;
    right: -5px;
    bottom: -5px;
    border: 5px solid transparent;
    animation: move 5s infinite linear;
    
    }
  
  @keyframes rainbow {
  0%   { border: 5px solid red; }
  14%  { border: 5px solid orange; }
  28%  { border: 5px solid yellow; }
  42%  { border: 5px solid rgb(0, 255, 0); }
  57%  { border: 5px solid rgb(0, 89, 255); }
  71%  { border: 5px solid rgb(93, 0, 130); }
  85%  { border: 5px solid violet; }
  100% { border: 5px solid red; }
  }
  @keyframes bluegreen {
    0%   { border: 5px solid rgb(0, 140, 255); }
    14%  { border: 5px solid rgb(0, 255, 247); }
    28%  { border: 5px solid rgb(0, 255, 106); }
    42%  { border: 5px solid rgb(43, 255, 0); }
    57%  { border: 5px solid rgb(149, 255, 0); }
    71%  { border: 5px solid rgb(0, 98, 255); }
    85%  { border: 5px solid rgb(113, 37, 255); }
    100% { border: 5px solid rgb(0, 76, 255); }
    }
  
  @keyframes move {
  0%   { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
  }
